/* filepath: c:\Users\francesca\OneDrive - Alma Mater Studiorum Università di Bologna\Progetto Epicode\epibook\src\Componenti\BookDetails.css */

.book-details-container {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  max-width: 100%;
  padding: 20px;
}

.book-title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.book-image {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin-bottom: 20px;
}