

.book-details-container {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 50px; 
  margin: 0 auto;
  max-width: 100%;
  padding: 20px;
}

.book-title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.book-image {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin-bottom: 20px;
}